<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dreamspace.uucampus">

    <!-- 解决Android L上通知显示异常问题，targetSdkVersion需要设置成22 -->
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <!-- ibeancon 需要蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- 支持个推3.0 电子围栏功能 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 浮动通知权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- 自定义权限 -->
    <uses-permission android:name="getui.permission.GetuiService.com.dreamspace.uucampus" />
    <permission
        android:name="getui.permission.GetuiService.com.dreamspace.uucampus"
        android:protectionLevel="normal" >
    </permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/welcome_style">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.AppFirstInActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <!-- goods-->
        <activity
            android:name=".ui.activity.Market.FastInAct"
            android:screenOrientation="portrait"/>
        <!-- 设置启动模式为singletask，防止商品详情和商铺无限进入-->
        <activity
            android:name=".ui.activity.Market.GoodDetailAct"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>

        <!-- free goods-->
        <activity
            android:name=".ui.activity.FreeGoods.FreeGoodsActivity"
            android:label="@string/free_goods"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.FreeGoods.FreeGoodsPublishFirstActivity"
            android:label="@string/select_goods_photo"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.FreeGoods.FreeGoodsPublishSecondActivity"
            android:label="@string/write_goods_detail"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.FreeGoods.FreeGoodsPublishSuccessActivity"
            android:label="@string/publish_success"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.FreeGoods.FreeGoodsDetailActivity"
            android:screenOrientation="portrait"/>

        <!-- shop-->
        <!-- 设置启动模式为singletask，防止商品详情和商铺无限进入-->
        <activity
            android:name=".ui.activity.Market.ShopShowGoodsAct"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name=".ui.activity.Market.ShopDetailAct"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.Market.ReportShopAct"
            android:screenOrientation="portrait"/>

        <!-- personal-->
        <activity
            android:name=".ui.activity.Personal.MyCollectionAct"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.Personal.SettingAct"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.Personal.CouponCardAct"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.Personal.FeedbackAct"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.Personal.PersonalInfoAct"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.Personal.MyFreeGoodsAct"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.Personal.AboutAct"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.Personal.IdleEditAct"
            android:screenOrientation="portrait"/>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />


        <activity
            android:name=".ui.activity.Search.SearchResultActivity"
            android:label="搜索结果"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.Search.SearchResultMoreActivity"/>

        <!-- register login-->
        <activity
            android:name=".ui.activity.Login.RegisterActivity"
            android:label="注册"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.Login.BoundActvity"
            android:label="微信创建新用户"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.Login.BoundSecondActivity"
            android:label="微信绑定"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.Login.FindBackActivity"
            android:label="重新设置密码"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.Login.LoginActivity"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".ui.activity.Login.RegisterInfoActivity"
            android:label="个人信息"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.Login.WechatActivity"
            android:label="关联账号"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.Login.RegisterSucceedActivity"
            android:label="注册成功"
            android:screenOrientation="portrait"/>

        <!-- order-->
        <activity
            android:name=".ui.activity.Order.OrderConfirmAct"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.Order.MyOrderAct"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.Order.OrderDetailAct"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.Order.CommentAct"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.Order.RefundAct"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.Order.OrderPayAct"
            android:screenOrientation="portrait"/>

        <!-- umeng-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5625eac167e58e4e1f001985" />

        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID-->
                <data android:scheme="1104847133" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>

        <!--微信回调activity-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- Ping++ sdk -->
        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 微信支付 sdk ，也是 Ping++ sdk 调用入口 -->
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.pingplusplus.android.PaymentActivity" />
        <!-- 支付宝 sdk -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>

        <!--个推SDK配置开始-->
        <!-- 配置的第三方参数属性 -->
        <meta-data
            android:name="PUSH_APPID"
            android:value="xnPbbtBHjU5Mb1FHzmnP38" /><!--替换为第三方应用的APPID-->
        <meta-data
            android:name="PUSH_APPKEY"
            android:value="TpLQ3ZORWR80cQ37PBg4e4" /><!--替换为第三方应用的APPKEY-->
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="G4qD24yh1972HuvFfMRSs3" /><!--替换为第三方应用的APPSECRET-->
         <!--配置第三方Receiver-->
        <receiver
            android:name="com.dreamspace.uucampus.ui.PushReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.xnPbbtBHjU5Mb1FHzmnP38" />
            </intent-filter>
        </receiver>
         <!--配置SDK核心服务-->
        <service
            android:name="com.igexin.sdk.PushService"
            android:exported="true"
            android:label="NotificationCenter"
            android:process=":pushservice" >
        </service>
        <service
            android:name="com.igexin.sdk.PushServiceUser"
            android:exported="true"
            android:label="NotificationCenterUser" >
        </service>
        <receiver android:name="com.igexin.sdk.PushReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.igexin.sdk.action.refreshls" />
                <!-- 以下三项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.igexin.sdk.PushManagerReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.pushmanager" />
            </intent-filter>
        </receiver>
        <activity
            android:name="com.igexin.sdk.PushActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <service
            android:name="com.igexin.download.DownloadService"
            android:process=":pushservice" />

        <receiver android:name="com.igexin.download.DownloadReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <provider
            android:name="com.igexin.download.DownloadProvider"
            android:exported="true"
            android:authorities="downloads.com.dreamspace.uucampus"
            android:process=":pushservice" />

        <activity
            android:name="com.igexin.getuiext.activity.GetuiExtActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="android.task.myServicetask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver
            android:name="com.igexin.getuiext.service.PayloadReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4" />
                <action android:name="com.igexin.sdk.action.xnPbbtBHjU5Mb1FHzmnP38" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.igexin.getuiext.service.GetuiExtService"
            android:process=":pushservice" />
        <!-- 个推SDK配置结束 -->
    </application>
</manifest>
