<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dreamspace.uucampus" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.market.FastInAct" >
        </activity>
        <activity android:name=".ui.market.ShopHostActivity" >
        </activity>
        <activity android:name=".ui.market.ShopManagmentAct" >
        </activity>
        <activity
            android:name=".ui.market.AddGoodAct"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/AppTheme" />

        <activity android:name=".ui.market.SelectPhotoAct"/>
        <activity android:name=".ui.market.PhotoPreviewAct"/>
        <activity
            android:name=".ui.activity.FreeGoods.FreeGoodsActivity"
            android:label="@string/free_goods">
        </activity>
        <activity
            android:name=".ui.activity.FreeGoods.FreeGoodsDetailActivity"
            android:label="@string/free_goods">
        </activity>
        <activity
            android:name=".ui.activity.FreeGoods.FreeGoodsPublishFirstActivity"
            android:label="@string/select_goods_photo">
        </activity>
        <activity
            android:name=".ui.activity.FreeGoods.FreeGoodsPublishSecondActivity"
            android:label="@string/write_goods_detail">
        </activity>
        <activity
            android:name=".ui.activity.FreeGoods.FreeGoodsPublishSuccessActivity"
            android:label="@string/publish_success">
        </activity>
        <activity android:name=".widget.photopicker.SelectPhotoActivity"/>
        <activity android:name=".widget.photopicker.PhotoPreviewActivity"/>
        <activity android:name=".ui.market.GoodDetailAct"/>
        <activity android:name=".ui.market.ShopShowGoodsAct"/>
        <activity android:name=".ui.market.ShopDetailAct"/>
    </application>

</manifest>
